<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <main class="main">
            Pets Page
        </main>

        <%- include('../includes/footer.ejs') %>
    </body>

    </html>