<%- include('./backdrop.ejs') %>

<nav class="nav">
	<div class="desktop-links-wrapper">
		<ul class="links">
			<li class="link home-img">
				<a href="/"><img src="/images/home-dog-image.png" alt="Dog"></a>
			</li>
        </ul>
        <ul class="links">
            <li class="link">
                <a href="/pets/create" class="<%= path === '/create' ? 'active' : '' %>">Добави обява</a>
            </li>
            <% if (_locals.isAuthenticated) { %>
                <li class="link auth">
                    <a href="/auth/logout">Излез</a>
                </li>
                <% } else { %>
                    <li class="link auth">
                        <a href="/auth/login" class="<%= path === '/login' ? 'active' : '' %>">Вход</a>
                    </li>
                    <li class="link auth">
                        <a href="/auth/register" class="<%= path === '/register' ? 'active' : '' %>">Регистрация</a>
                    </li>
                    <% } %>
        </ul>
	</div>

    <div class="mobile-links-wrapper">
        <div id="menu-icon">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <ul id="menu-links" class="links">
            <li class="link">
                <a href="/">Начало</a>
            </li>
            <li class="link">
                <a href="/pets/create">Добави обява</a>
            </li>
            
            <% if (_locals.isAuthenticated) { %>
            <li class="link auth">
                <a href="/auth/logout">Излез</a>
            </li>
            <% } else { %>
                <li class="link auth">
                    <a href="/auth/login">Вход</a>
                </li>
                <li class="link auth">
                    <a href="/auth/register">Регистрация</a>
                </li>
                <% } %>
        </ul>
        <ul class="links">
            <li class="link home-img">
				<a href="/"><img src="/images/home-dog-image.png" alt="Dog"></a>
			</li>
        </ul>
    </div>
</nav>
